.content_features {
  max-width: 500px;

  .content_small_title {
    position: relative;
    z-index: 99;
    letter-spacing: 6px;
    font-size: 14px;

    span {
      background-color: $bg-custom;
      height: 12px;
      width: 60px;
      display: inline-block;
      position: absolute;
      opacity: 0.13;
    }
  }

  .content_main_title {
    font-size: 32px;
    line-height: 1.4;
    text-transform: capitalize;
    font-weight: 600;
  }
}

.features_divider {
  background-color: #f1f1f1;
  height: 1px;
  width: 100%;
  margin: 70px 0 60px;
  display: block;
}
